<mat-card>
  <mat-card-header>
    <mat-card-title>
      <a routerLink="/{{ course.id }}">{{ course.title }}</a></mat-card-title
    >
    <mat-card-subtitle>
      <star-rating
        [starType]="'svg'"
        [rating]="course.rating"
        [showHalfStars]="true"
        [readOnly]="true"
      ></star-rating>
      <div>Count of lessons: {{ course.lessonsCount }}</div>
    </mat-card-subtitle>
  </mat-card-header>
  <img
    mat-card-image
    src="{{ course.previewImageLink + '/cover.webp' }}"
    alt="image of {{ course.title }}"
  />
  <mat-card-content>
    <ng-container *ngIf="course.meta.skills !== undefined">
      <div>Skills</div>
      <ul>
        <li *ngFor="let skill of course.meta.skills">
          {{ skill }}
        </li>
      </ul>
    </ng-container>
  </mat-card-content>
</mat-card>
