:host {
  width: auto;
  max-width: 350px;
}

mat-card {
  margin: 10px 5px;
  height: 100%;
}

mat-card-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 5px;
  background-color: #00a698;
}

mat-card-title {
  width: 100%;
  text-align: center;
  min-height: 70px;
}

mat-card-subtitle {
  display: flex;
  justify-content: space-between;
}

img {
  height: 150px;
  margin: 10px 5px;
  border-radius: 5px;
}

mat-card-content ul {
  list-style: circle;
  margin-left: 10px;
}

mat-card-content li {
  text-align: left;
}

a {
  color: whitesmoke;
  text-decoration: none;
}

a:hover {
  text-shadow: 1px 1px 2px red, 0 0 1em #00a698, 0 0 0.2em #00a698;
}
